body{
    background:#f4f7fb;
}

.card{
    border:none;
    border-radius:18px;
}

.card-header{
    font-weight:700;
    font-size:15px;
}

.form-control,
.form-select{

    height:50px;

    border-radius:12px;

    border:1px solid #dbe3ec;
}

textarea.form-control{

    height:auto;
}

.form-control:focus,
.form-select:focus{

    box-shadow:none;

    border-color:#198754;
}

#memberSearchResults{

    max-height:250px;

    overflow-y:auto;
}

.search-item{

    padding:12px;

    border-bottom:1px solid #eee;

    cursor:pointer;

    transition:.2s;
}

.search-item:hover{

    background:#f8f9fa;
}

.search-name{

    font-weight:600;
}

.search-mobile{

    color:#666;

    font-size:13px;
}

.table th{

    font-size:14px;

    font-weight:700;
}

.table td{

    vertical-align:middle;
}

.btn-collect{

    border:none;

    background:#198754;

    color:white;

    padding:6px 12px;

    border-radius:8px;

    font-size:13px;

    font-weight:600;
}

.btn-collect:hover{

    background:#157347;
}

#saveCollectionBtn{

    height:60px;

    font-size:18px;

    font-weight:700;

    border-radius:14px;
}

#display_balance{

    font-size:32px;

    font-weight:900;
}