.profile-header{
    display:flex;
    justify-content:space-between;
    margin-bottom:25px;
}

.profile-card{
    text-align:center;
    padding:30px;
}

.profile-photo{
    width:160px;
    height:160px;
    border-radius:50%;
    object-fit:cover;
    margin:auto;
    margin-bottom:20px;
    border:5px solid #e5e7eb;
}

.card{
    border:none;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

label{
    font-weight:600;
    color:#64748b;
}

.active-menu{
    background:rgba(255,255,255,.15);
    border-left:4px solid white;
}